
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/.idea
target/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Mac OS ###
.DS_Store

### ALL ###
Projetos.iml
sistema-bancario.iml
*.class
mvnw
mvnw.cmd
.mvn
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/